<%- include ("header") -%>
<h2> this is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 Molestias repudiandae incidunt odio natus, maiores quidem cumque in tempora saepe, dicta dolore rem itaque 
 velit accusamus iusto nesciunt tenetur! Sit, pariatur.</p>

 <%- include ("footer") -%>